body{
    font-family: 'Montserrat';
    background-color: #FAFAFA;
}



/* Оформление всплывающих окон */


.main_content{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.pages_route{
    display: flex;
    width: 100%;
    font-family: 'Montserrat';
    margin-top: 10px;
    color: black;
}
.product_title{
    font-size: 27px;
    margin-top: 70px;
}
.item_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #FAFAFA;
}
.item_images{
    width: 55%;
    height: 570px;
    flex-direction: column;
}
.item_main_image_wrapper{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.item_main_image_wrapper img{
    width: 600px;
    height: 400px;
}
.down_images{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.down_images img{
    width: 190px;
    height: 140px;
    cursor: pointer;
}
.down_images img:hover{
    -webkit-transform: scale(1.08); /* Увеличение обьекта */
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    transition: 0.3s;
}

.item_params{
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.item_params_title{
    font-family: 'Montserrat';
    font-size: 18px;
    color: #CFA166;
}
.params_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.select_wrapper{
    position: relative;
    width:225px;
    border-right: 1px solid #CFA166;
    margin-right: 50px;
}
.select-wrapper:hover {
    box-shadow: #CFA166;
} 

.select_wrapper select {
    display: block;
    width: 268px; 
    padding: .75rem 2.5rem .75rem 1rem; 
    background:url('../images/card_page_images/Vector.png') no-repeat right;
    border: 1px solid #CFA166; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;/* наследует от родителя */
    font-size: 1rem;
    width: 268px;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    background-position-x: 234px;
  }
  .select_wrapper option{
      font-size: 1.15rem;
  }
 
  .select-wrapper select::-ms-expand{
      display: none;             /* remove arrow IE     */
  }
  .select-wrapper:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
}
.price_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}
.price_text{
    color: #CFA166;
    font-size: 1.1rem;
    font-weight: bolder;
}
.price_button{
    width: 268px;
    height: 50px;
    background-color: #CFA166;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 7px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
}
.item_description{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #CFA166;
    margin-top: 100px;
}
.description_menu_item{
    width: 143px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: white;
    color: #CFA166;
    border: 1px solid #CFA166;
    cursor: pointer;
}
.params_menu_item{
    width: 240px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #CFA166;
    color: white;
    border: 1px solid #CFA166;
    cursor: pointer;
}
.wrapper_params{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.model_item{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 30px;
}
.params_row{
    display: flex;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #E6E6E6;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 1rem;
    /* justify-content: space-between; */
}
.params_name{
    width: 40%;
}
.description_data{
    width: 60%;
    line-height: 2em;
}
.product_description{
    width: 90%;
    margin: 0px auto;
    display: none;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    flex-direction: column;
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify;
    
}
.product_description p{
    line-height: 1em;
    margin-top: 20px;
}






.slider_title_and_arrows_wrapper p{
    font-family: 'Montserrat';
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 50px;
}
.slider-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* height: 340px; */
    overflow: hidden;
}
.slider-arrows{
    display: flex;
    justify-content: flex-end;
}
.slider-arrows img{
    width: 37px;
    height: 37px;
    margin-right: 5px;
    margin-left: 5px;
}
.slider-arrows img:hover{
    cursor: pointer;
}
.slider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin-top: 20px;
    position: relative;
    
    transition: 0.5s;
}
.slider-card{
    display: flex;
    
    flex-direction: column;
    width: 400px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5em;
    margin-right: 26.67px;
    font-style: normal;

    /*border: 1px solid black;*/
}
.slider-card-img{
    width: 400px;
    height: 320px;
}
.slider-card:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05); /* Увеличение обьекта */
    -moz-transform: scale(1.0.5);
    -o-transform: scale(1.0.5);
    transition: 0.25s;
}

/* NEWS WRAPPER */

.wrapper-news{
    background-image: url(../images/background.png);
    padding-top: 118px;
    padding-bottom: 100px;
    margin-bottom: 142px;
    width: 100%;
  }
  .wrapper-news a{
      text-decoration: none;
      color: black;
  }
  
  .wrapper-rightpart{
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    /* line-height: 147.4%; */
    color: #000000;
    cursor: pointer;
  }
  
  .wrapper-rightpart p:hover{
    color: #CFA166;
  }
  
  
  .button-name:hover{
      color: #CFA166;
  }
  
  .wrapper-header-news{
    
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }
  
  .news-arrow{
      width: 35px;
    height: 25px;
    /* margin-top: 5px; */
    margin-left: 17px;
    margin-right: 17px;
  }
  
  .wrapper-cards-news{
    display: flex;
    margin: 0px auto;
    width: 100%;
    background-image: url('../images/фон.png');
  }
  
  .card-news{
    opacity: .8;
    cursor: pointer;
  }
  
  .card-news p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 170%;
    text-transform: capitalize;
    color: #303030;
  }
  
  
  .image-card-news{
    margin-bottom: 57px;
    width: 95%;
  }
  
  .card-news:hover{
    opacity: 1;
    transition: .5s;
  }
  .button-wrapper{
      display: flex;
      align-items: center;
  }
  .button-wrapper img{
    margin-left: 20px;
    margin-top: 3px;
    width: 35px;
  }
  .article-name {
    font-size: 1.5rem;
}

@media (max-width: 1440px) {
    .main_content{
        width: 1000px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }
    .pages_route{
        display: flex;
        width: 100%;
        font-family: 'Montserrat';
        margin-top: 10px;
        color: black;
    }
    .product_title{
        font-size: 27px;
        margin-top: 70px;
    }
    .item_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        background-color: #FAFAFA;
    }
    .item_images{
        width: 55%;
        height: 570px;
        /*border: 1px solid black;*/
        flex-direction: column;
    }
    .item_main_image_wrapper{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .item_main_image_wrapper img{
        width: 550px;
        height: 375px;
    
        /*border: 1px solid black;*/
    }
    .down_images{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        /*border: 1px solid black;*/
    }
    .down_images img{
        width: 170px;
        height: 130px;
        cursor: pointer;
        /*border: 1px solid black;*/
    }
    .down_images img:hover{
        -webkit-transform: scale(1.08); /* Увеличение обьекта */
        -moz-transform: scale(1.08);
        -o-transform: scale(1.08);
        transition: 0.3s;
    }
    
    .item_params{
        width: 40%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .item_params_title{
        font-family: 'Montserrat';
        font-size: 18px;
        color: #CFA166;
    }
    .params_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;
    }
    .select_wrapper{
        position: relative;
        width:225px;
        border-right: 1px solid #CFA166;
        /* margin-left: 20px; */
        margin-right: 50px;
    
    }
    .select-wrapper:hover {
        box-shadow: #CFA166;
    } 
    
    .select_wrapper select {
        display: block;
        width: 268px; 
        padding: .75rem 2.5rem .75rem 1rem; 
        background:url('../images/card_page_images/Vector.png') no-repeat right;
        border: 1px solid #CFA166; 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: inherit;/* наследует от родителя */
        font-size: 1rem;
        width: 268px;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        background-position-x: 234px;
      }
      .select_wrapper option{
          font-size: 1.15rem;
      }
     
      .select-wrapper select::-ms-expand{
          display: none;             /* remove arrow IE     */
      }
      .select-wrapper:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #000 transparent transparent transparent;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 1rem;
        z-index: 1;
        margin-top: -3px;
    }
    .price_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        align-items: center;
    }
    .price_text{
        color: #CFA166;
        font-size: 1.1rem;
        font-weight: bolder;
    }
    .price_button{
        width: 228px;
        height: 50px;
        background-color: #CFA166;
        color: white;
        text-align: center;
        line-height: 50px;
        margin-right: 7px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .item_description{
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #CFA166;
        margin-top: 100px;
    }
    .description_menu_item{
        width: 143px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        background-color: white;
        color: #CFA166;
        border: 1px solid #CFA166;
        cursor: pointer;
    }
    .params_menu_item{
        width: 240px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        background-color: #CFA166;
        color: white;
        border: 1px solid #CFA166;
        cursor: pointer;
    }
    .wrapper_params{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .model_item{
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .params_row{
        display: flex;
        width: 100%;
        min-height: 50px;
        border-bottom: 1px solid #E6E6E6;
        align-items: center;
        font-family: 'Montserrat';
        font-size: 1.5rem;
        word-wrap: break-word;
        
        /* justify-content: space-between; */
    }
    .params_row p{
        font-size: 1rem;
        word-wrap: break-word;
        line-height: 1.5em;
        /* justify-content: space-between; */
    }
    .params_name{
        width: 40%;
    }
    .product_description{
        width: 90%;
        margin: 0px auto;
        display: none;
        font-family: 'Montserrat';
        font-size: 1.2rem;
        flex-direction: column;
        text-indent: 1.5em; /* Отступ первой строки */
        text-align: justify;
        
    }
    .product_description p{
        line-height: 1em;
        margin-top: 20px;
        
    }
    .slider_title_and_arrows_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
    }
    .slider_title_and_arrows_wrapper p{
        font-family: 'Montserrat';
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    .slider-arrows img{
        width: 37px;
        height: 37px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .slider-arrows img:hover{
        cursor: pointer;
    }
    .slider{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        position: relative;
        transition: 0.5s;
    }
    .slider-card{
        display: flex;
        
        flex-direction: column;
        width: 400px;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.5em;
        margin-right: 24px;
        font-style: normal;
    }
    .slider-card-img{
        width: 310px;
        height: 270px;
    }
    
}
@media (max-width: 1024px) {
    .main_content{
        width: 740px;
    }
    .item_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        background-color: #FAFAFA;
    }
    .item_description{
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #CFA166;
        margin-top: 0px;
    }
    .item_images{
        width: 50%;
        height: 570px;
        flex-direction: column;
    }
    .item_main_image_wrapper{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
    }
    .item_main_image_wrapper img{
        width: 380px;
        height: 275px;
    }
    .down_images{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .down_images img{
        width: 110px;
        height: 90px;
        cursor: pointer;
    }
    .item_params{
        width: 45%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .params_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;
    }
    .select_wrapper{
        position: relative;
        width:175px;
        border-right: 1px solid #CFA166;
        margin-right: 50px;
    
    }
    .select-wrapper:hover {
        box-shadow: #CFA166;
    } 
    .select_wrapper select {
        display: block;
        width: 218px; 
        padding: .75rem 2.5rem .75rem 1rem; 
        background:url('../images/card_page_images/Vector.png') no-repeat right;
        border: 1px solid #CFA166; 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: inherit;/* наследует от родителя */
        font-size: 1rem;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        background-position-x: 186px;
      }
      .slider-card{
        display: flex;
        
        flex-direction: column;
        width: 400px;
        height: 240px;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.5em;
        margin-right: 27px;
        font-style: normal;
    }
    .slider-card-img{
        width: 220px;
        height: 200px;
    }
    
}
@media (max-width: 769px) {
    .main_content{
        width: 560px;
    }
    .inputs_wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .inputs_wrapper input{
          width: 70%;
          margin-top: 5px;
          margin-bottom: 5px;
      }
    .pages_route{
        margin-top: 200px;
    }
    .item_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        background-color: #FAFAFA;
    }
    .item_images{
        width: 50%;
        height: 570px;
        flex-direction: column;
    }
    .item_main_image_wrapper{
        width: 100%;
        height: 275px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .item_main_image_wrapper img{
        width: 280px;
        height: 225px;
    }
    .down_images{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .down_images img{
        width: 90px;
        height: 70px;
        cursor: pointer;
    }
    .item_params{
        width: 45%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .params_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
    }
    .params_wrapper p{
        margin-bottom: 7px;
    }
    .select_wrapper{
        position: relative;
        width:185px;
        border-right: 1px solid #CFA166;
        margin-right: 50px;
    
    }
    .select-wrapper:hover {
        box-shadow: #CFA166;
    } 
    .select_wrapper select {
        display: block;
        width: 228px; 
        padding: .75rem 2.5rem .75rem 1rem; 
        background:url('../images/card_page_images/Vector.png') no-repeat right;
        border: 1px solid #CFA166; 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: inherit;/* наследует от родителя */
        font-size: 1rem;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        background-position-x: 196px;
      }
      .price_wrapper{
          flex-direction: column-reverse;
          margin-top: 35px;
      }
      .price_wrapper p{
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .slider-card{
        display: flex;
        
        flex-direction: column;
        width: 400px;
        height: 240px;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.5em;
        margin-right: 27px;
        font-style: normal;
    }
    .slider-card-img{
        width: 160px;
        height: 145px;
    }
}
@media (max-width: 570px) {
    .main_content{
        width: 425px;
    }
    .pages_route{
        margin-top: 200px;
    }
    .item_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        background-color: #FAFAFA;
    }
    .item_images{
        width: 55%;
        height: 570px;
        flex-direction: column;
    }
    .item_main_image_wrapper{
        width: 100%;
        height: 275px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .item_main_image_wrapper img{
        width: 220px;
        height: 190px;
        padding-top: 30px;
    }
    .down_images{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .down_images img{
        width: 70px;
        height: 50px;
        cursor: pointer;
    }
    .item_params{
        width: 40%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .params_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
    }
    .params_wrapper p{
        margin-bottom: 7px;
    }
    .select_wrapper{
        position: relative;
        width:145px;
        border-right: 1px solid #CFA166;
        margin-right: 50px;
    
    }
    .select-wrapper:hover {
        box-shadow: #CFA166;
    } 
    .select_wrapper select {
        display: block;
        width: 188px; 
        padding: .75rem 2.5rem .75rem 1rem; 
        background:url('../images/card_page_images/Vector.png') no-repeat right;
        border: 1px solid #CFA166; 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: inherit;/* наследует от родителя */
        font-size: 1rem;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        background-position-x: 156px;
      }
      .price_wrapper{
          flex-direction: column-reverse;
          margin-top: 40px;
      }
      .price_wrapper p{
          margin-top: 4px;
          margin-bottom: 5px;
      }
      .price_button{
        width: 188px;
        height: 50px;
        background-color: #CFA166;
        color: white;
        text-align: center;
        line-height: 50px;
        margin-right: 7px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bolder;
    }
      .slider-card{
        display: flex;
        
        flex-direction: column;
        width: 400px;
        height: 240px;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.5em;
        margin-right: 21.5px;
        font-style: normal;
    }
    .slider-card-img{
        width: 120px;
        height: 100px;
    }
    .wrapper-cards-news{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 100%;
        background-image: url('../images/фон.png');
      }
      .article-name{
        font-size: 1.1rem;
      }
      .wrapper-rightpart p{
          font-size: 1.1rem;
      }
      .image-card-news{
        margin-bottom: 57px;
        width: 100%;
      }
}
@media (max-width: 445px) {
    .main_content{
        width: 95%;
    }
    .inputs_wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .inputs_wrapper input{
          width: 90%;
          margin-top: 2px;
          margin-bottom: 2px;
      }
      .call-back-form-button{
          width: 60%;
      }
    .pages_route{
        margin-top: 200px;
        flex-wrap: wrap;
        line-height: 2em;
        
    }
    .item_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        background-color: #FAFAFA;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .item_images{
        width: 100%;
        height: 440px;
        flex-direction: column;
    }
    .item_main_image_wrapper{
        width: 100%;
        height: 275px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .item_main_image_wrapper img{
        width: 250px;
        height: 190px;
        padding-top: 30px;
    }
    .item_description{
        margin-top: 70px;
        border-bottom: none;
    }
    .description_menu_item{
        width: 40%;
    }
    .params_menu_item{
        width: 60%;
    }
    .down_images{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .down_images img{
        width: 70px;
        height: 50px;
        cursor: pointer;
    }
    .item_params{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .params_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
    }
    .params_wrapper p{
        margin-bottom: 7px;
    }
    .select_wrapper{
        position: relative;
        width:185px;
        border-right: 1px solid #CFA166;
        margin-right: 50px;
    
    }
    .select-wrapper:hover {
        box-shadow: #CFA166;
    } 
    .select_wrapper select {
        display: block;
        width: 238px; 
        padding: .75rem 2.5rem .75rem 1rem; 
        background:url('../images/card_page_images/Vector.png') no-repeat right;
        border: 1px solid #CFA166; 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: inherit;/* наследует от родителя */
        font-size: 1rem;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        background-position-x: 200px;
      }
      .price_wrapper{
          flex-direction: column-reverse;
          margin-top: 40px;
      }
      .price_wrapper p{
          margin-top: 4px;
          margin-bottom: 5px;
      }
      .price_button{
        width: 238px;
        height: 50px;
        background-color: #CFA166;
        color: white;
        text-align: center;
        line-height: 50px;
        margin-left: 12px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .slider-wrapper{
        width: 320px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow: hidden;
        margin: 0 auto;
    }
      .slider-card{
        display: flex;
        
        flex-direction: column;
        width: 320px;
        height: 240px;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.5em;
        margin-right: 26px;
        font-style: normal;
    }
    .slider-card-img{
        width: 134px;
        height: 100px;
    }
    .slider_title_and_arrows_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
    .slider_title_and_arrows_wrapper p {
        font-size: 1.1rem;
        padding-top: 10px;
    }
    .wrapper-cards-news{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 100%;
        background-image: url('../images/фон.png');
      }
      .article-name{
        font-size: 1rem;
      }
      .wrapper-rightpart{
          align-items: center;
          padding-bottom: 14px;
      }
      .wrapper-rightpart p{
          font-size: .9rem;
      }
      
}


