.pages_route{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 27px;
    
}

.pages_route p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 170%;
    color: #CFA166;
}

.pages_route img{
  margin-left: 10px;
}

.wrapper-articles{
    width: 100%;
    background-color: #FAFAFA;
    padding-top: 44px;
    padding-bottom: 80px;
}

.contact-info{
  width: 100%;
  background: #282828;
  padding-top: 72px;
  padding-bottom: 80px;
  /* padding-left: 20px; */
}

.wrapper-contact{
  width: 1280px;
  margin: 0px auto;
  margin-bottom: 70px;
}

.wrapper-info{
  display: flex;
}

.card-info{
  width: 540px;
}

.card-info h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 147.4%;
  text-transform: uppercase;
  color: #CFA166;
  margin-bottom: 20px;
}

.card-info h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 147.4%;
  color: #CFA166;
  margin-bottom: 17px;
}

.card-info p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}

.card-info h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 31px;
}



h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 147.4%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.card-team{
  width: 300px;
}

.card-team h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 147.4%;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}

.card-team p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 147.4%;
  color: rgba(255, 255, 255, 0.9);
}

.container-team{
  display: flex;
}

.odessa-info{
  width: 1280px;
  margin: 0px auto;
}

.card-info:nth-child(1n){
  margin-right: 142px;
}

.odessa-info h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 147.4%;
  color: #CFA166;
}


@media(max-width: 1440px) {
  .pages_route{
      width: 1024px;
    }

    .wrapper-contact {
    width: 1024px;
    margin: 0px auto;
    margin-bottom: 70px;

}

.odessa-info {
    width: 1024px;
    margin: 0px auto;
}

.card-info:nth-child(1n) {
    margin-right: 42px;
}

.card-info {
    width: 400px;
}

}

@media (max-width: 1024px){
    .pages_route{
      width: 768px;
    }

    .wrapper-contact {
    width: 768px;
    margin: 0px auto;
    margin-bottom: 70px;

  }

  .odessa-info {
      width: 768px;
      margin: 0px auto;
  }

  .card-info:nth-child(1n) {
      margin-right: 40px;
  }

  .card-info {
      width: 350px;
      margin: 0px auto;
  }

  .card-team {
    width: 300px;
    margin-right: 10px;
}

  .wrapper-info {
    margin: 0px auto;
  }


}

@media (max-width: 768px){

    .wrapper-pages-route{
      padding-top: 140px;
    }
    .pages_route{
      width: 94%;
      margin-left: 6%;
      /* margin-top: 140px; */
    }

    .wrapper-contact {
    width: 425px;
    margin: 0px auto;
    margin-bottom: 70px;

  }

  .odessa-info {
      width: 425px;
      margin: 0px auto;
  }



    .card-info:nth-child(1n) {
        margin-right: 7%;
    }

    .card-info {
        width: 425px;
        margin: 0px auto;
        text-align: left;
    }

    .card-team {
      width: 300px;
      margin-right: 10px;
    }

    .wrapper-info {
      margin: 0px auto;
      flex-direction: column;
    }

    .wrapper-contact h1{
    text-align: center;
    }

    .odessa-info {
        width: 425px;
        margin: 0px auto;
    }

    .card-team h2{
      font-size: 10px;
    }

    .card-team p{
      font-size: 10px;
    }

  }


  @media (max-width: 425px){


      .pages_route{
        width: 375px;
      }

      .wrapper-contact {
      width: 375px;
      margin: 0px auto;
      margin-bottom: 70px;

    }

    .odessa-info {
        width: 375px;
        margin: 0px auto;
    }



      .card-info:nth-child(1n) {
          margin-right: 0px;
          margin-left: 0px;
      }

      .card-info {
          width: 330px;
          margin: 0px auto;
          text-align: left;
      }

      .card-team {
        width: 340px;
        margin-right: 10px;
      }

      .wrapper-info {
        margin: 0px auto;
        flex-direction: column;
      }

      .wrapper-contact h1{
      text-align: left;
      }

      .odessa-info {
          width: 375px;
          margin: 0px auto;
      }

      .container-team {
          flex-direction: column;
          margin: 0px auto;
      }

  }

  @media (max-width: 375px){
    .pages_route{
      width: 300px;
    }

    .wrapper-contact {
    width: 320px;
    margin: 0px auto;
    margin-bottom: 70px;

  }

  .odessa-info {
      width: 320px;
      margin: 0px auto;
  }



    .card-info:nth-child(1n) {
        margin-right: 0px;
        margin-left: 0px;
    }

    .card-info {
        width: 300px;
        margin: 0px auto;
        text-align: left;
    }

    .card-team {
      width: 300px;
      margin-right: 10px;
    }

    .wrapper-info {
      margin: 0px auto;
      flex-direction: column;
    }

    .wrapper-contact h1{
    text-align: left;
    }

    .odessa-info {
        width: 320px;
        margin: 0px auto;
    }

    .container-team {
        flex-direction: column;
        margin: 0px auto;
    }

  }
