@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff')
}
a {
    text-decoration: none;
}
    header {
        display: flex;
        width: 1280px;
        margin: 0px auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 100%;
        height: 140px;
        justify-content: space-between;
        align-items: center;
        color: black;
    }
    header a {
        color: black;
    }
    .left_sidebar{
        display: none;
    }
    .logo {
        width: 82px;
        height: 86px;
        cursor: pointer;
    }
    .header-menu {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
    .header-menu li {
        margin-left: 15px;
        margin-right: 15px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .header-menu li :hover {
        border-bottom: 2px solid #CFA166;
        margin-bottom: -1.5px;
    }
    .header-contact {
        display: flex;
    }
    .header-language {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    .header-language img {
        width: 21px;
        height: 11px;
        margin-left: 10px;
    }
    .header-number {
        cursor: pointer;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-weight: 900;
        margin-right: 42px;
    }
    .header-number img {
        width: 21px;
        height: 11px;
        margin-left: 10px;
    }
    .back-call {
        cursor: pointer;
        width: 305px;
        height: 64px;
        background-color: #CFA166;
        color: white;
        text-align: center;
        line-height: 64px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
    }

/* Popap */
.info-popap{
  width: 113px;
  padding-top: 20px;
  padding-left: 27px;

}

.popap-wrapper{
  position: absolute;
  z-index: 2;
  left: 920px;
  top: 90px;
  width: 309px;
  height: 126px;
  display: none;
  background-color: #F3F3F3;
}

.info-popap h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 147.4%;
  color: #000000;
  margin-bottom: 11px;
}

.info-popap p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 147.4%;
  color: #4B4B4B;
  margin-bottom: 2px;
}

.header-number:hover .popap-wrapper{
    display: flex;
}

.header-number:active .popap-wrapper{
    display: flex;
}
/* Popap */

@media (max-width: 1440px) {
    header {
        display: flex;
        width: 1000px;
        margin: 0px auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.90rem;
        line-height: 100%;
        height: 140px;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 82px;
        height: 86px;
        cursor: pointer;
    }
    .header-menu {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
    .header-menu li {
        margin-left: 12px;
        margin-right: 12px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .header-menu li :hover {
        border-bottom: 2px solid #CFA166;
        margin-bottom: -1.5px;
    }
    .header-contact {
        display: flex;
    }
    .header-language {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .header-language img {
        width: 21px;
        height: 11px;
        margin-left: 10px;
    }
    .header-number {
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-weight: 900;
        margin-right: 20px;
    }


    .header-number img {
        width: 21px;
        height: 11px;
        margin-left: 10px;
    }
    .back-call {
        width: 215px;
        height: 64px;
        background-color: #CFA166;
        color: white;
        text-align: center;
        line-height: 64px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 17px;
    }


        .popap-wrapper{
          left: 685px;
        }

}

@media (max-width: 1024px) {
  .popap-wrapper{
    left: 475px;
  }

}

@media (max-width: 1023px) {



    header {
        display: flex;
        width: 740px;
        margin: 0px auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.87rem;
        line-height: 100%;
        height: 140px;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 82px;
        height: 86px;
        cursor: pointer;
    }
    .header-menu {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
    .header-menu li {
        margin-left: 12px;
        margin-right: 12px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .header-menu li :hover {
        border-bottom: 2px solid #CFA166;
        margin-bottom: -1.5px;
    }
    .header-contact {
        display: flex;
    }
    .header-language {
        display: flex;
        align-items: center;
        margin-right: 14px;
    }

    .header-language img {
        width: 13px;
        height: 6px;
        margin-left: 5px;
    }
    .header-number {
        display: none;
    }
    .header-number img {
        width: 21px;
        height: 11px;
        margin-left: 10px;
    }
    .back-call {
        width: 170px;
        height: 64px;
        background-color: #CFA166;
        color: white;
        text-align: center;
        line-height: 64px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }


}


@media (max-width: 769px) {

    .header-menu{
        display: none;
    }
    .logo{
        margin-left: 2%;
    }
    header{
        position: absolute;
        width: 90%;
        display: flex;
        justify-content: normal;
        z-index: 99;
        
    }
    .header-contact{
        margin: 0px auto;

    }
    .header-language{
        display: none;
    }
    .header-language-mobile{
        display: flex;
        margin: 0.35em 0.1em;
        padding: 0.5em 1.2em;
        outline: none;
        align-items: center;
    }
    .header-language-mobile img{
        width: 14px;
        height: 9px;
        margin-left: 10px;
    }
    .back-call {
        width: 190px;
        height: 64px;
        background-color: #CFA166;
        color: white;
        text-align: center;
        line-height: 64px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }
    /* BURGER MENU */
    .left_sidebar{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #CFA166;
        color: white;
        height: 100%;
        left: 0;top: 0;
        z-index: 99;
        align-items: center;
        transition: 0.5s;
        transform: translateX(100%);
    }
    .left_sidebar a{
        color: white;
    }
    /* Demo Buttons Style */
    .codrops-demos {
        padding-top: 1em;
        font-size: 20px;
    }
    .codrops-demos a {
        display: inline-block;
        margin: 0.35em 0.1em;
        padding: 0.5em 1.2em;
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 800;
        border-radius: 10px;
        font-size: 20px;
        border: 2px solid transparent;
    }

    .codrops-demos_sidebar a {
        display: inline-block;
        margin: 0.35em 0.1em;
        padding: 0.5em 1.2em;
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 800;
        border-radius: 10px;
        border: 2px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .codrops-demos_sidebar{
        font-family: 'Montserrat';
        position: absolute;
        top: 20%;
        bottom: 20%;
        padding-top: 1em;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu_button{
        display: flex;
        width: 50px;
        height: auto;
        position: absolute;
        left: -80px;
        top: 45px;
    }
    .cancel_button{
        width: 30px;
        height: auto;
        position: absolute;
        left: 25px;
        top: 25px;
    }
    .menu_active {
        transform: translateX(0%);
    }
    .content_active {
        transform: translateX(-100%);
    }
    .codrops-demos_sidebar a:hover,
    .codrops-demos_sidebar a.current-demo {
        color: white;
        border-color: white;
    }
}
@media (max-width: 525px) {
    .back-call{
        display: none;
    }
    .logo{
        margin-left: 5%;
    }
}
